.container {
  background-color: blanchedalmond;
  text-align: center;
}

.answer {
  text-align: center; 
}

.none {
  display:none;
}

.lan_name {
  text-size-adjust: 12px;
  color: rgb(182, 5, 5);
}